<div class="container">
  <h1 class="bg-warning text-white text-center"><%= @itinerary.name %></h1>
  <h2 class="text-info">編集する</h2>
</div><br>
<%= form_tag(itinerary_path(@itinerary), method: :patch) do %>
  <div class="container">
    <div class="row">
      <% if @events.present? %>
        <% @events.each_with_index do |event, i| %> 
          <div class="col-10">
            <div class="form-group">
              <%= hidden_field_tag "itinerary_event_id_#{i}", event.id %>
              <%= hidden_field_tag "itinerary_event_sort_order_#{i}", event.sort_order %>
              <%= text_area_tag "itinerary_event_#{i}", "#{event.event}", class: "form-control border-info", rows: 3, placeholder: "旅行の予定や感想など好きなように作成してください。" %>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center">
            <%= link_to "削除", itinerary_path(@itinerary), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-success" %>
          </div>
          <% if @events.count - 1 > i %>
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <a class="btn btn-success float-right" id="sort_<%= i %>" onclick="sort(<%= i %>)" href="javascript:void(0)" role="button">↕️</a>
                </div>
              </div>
            </div><br><br>
          <% end %>
        <% end %>
        <div class="col-10">
          <div class="form-group">
            <%= text_area_tag "itinerary_event", "", class: "form-control border-info", rows: 3, placeholder: "旅行の予定や感想など好きなように作成してください。" %>
          </div>
        </div>
      <% else %>
        <div class="col-10">
          <div class="form-group">
            <%= text_area_tag "itinerary_event", "", class: "form-control border-info", rows: 3, placeholder: "旅行の予定や感想など好きなように作成してください。" %>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center">
          <a class="btn btn-success" href="#" role="button">削除</a>
        </div>
      <% end %>
    </div>
  </div><br>
  <div class="container">
    <div class="row">      
      <div class="col-8">
        <%= submit_tag "内容を保存する", class: "btn btn-lg btn-success float-right" %>      
      </div>
    </div>
  </div><br><br>
<% end %>