<div class="container">
  <% if flash[:notice] %>
    <h2 class="flash bg-primary text-white text-center">
      <%= flash[:notice] %>
    </h2>
  <% end %>
</div>
<% if @groups.present? %>
  <div class="container">
    <div class="row"> 
      <div class="col-6">
        <h5 class="text-info">しおりの作成はこちらから！⬇︎</h5>
        <div class="card">
          <h5 class="card-header bg-danger text-white">しおりの作成・閲覧</h5>
          <div class="card-body">
            <p class="card-text">旅行のしおりを簡単に作成できます。しおりに書く内容はそれぞれにお任せします。</p>
            <i class="fas fa-book-open fa-3x"></i>
            <%= link_to "編集・閲覧", itineraries_path, class: 'btn btn-success text-white float-right' %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h5 class="text-info">旅費の管理はこちらから！⬇︎</h5>
        <div class="card">
          <h5 class="card-header bg-primary text-white">旅費の管理</h5>
          <div class="card-body">
            <p class="card-text">旅行の際にかかる必要経費、お土産などの旅行中に使ったお金を簡単に記録できます。</p>
            <i class="fas fa-wallet fa-3x"></i>
            <%= link_to "記録", money_managements_path, class: 'btn btn-success text-white float-right' %>
          </div>
        </div>
      </div>
    </div>
  </div><br><br>
  <div class="container">
    <div class="row"> 
      <div class="col-12">
        <div class="card">
          <h5 class="card-header bg-warning text-white"><%= "#{@user.nickname}" %>さんの所属グループ</h5>
          <div class="card-body">
            <table class="table">
              <tbody>
                <% @groups.each do |group|%>
                  <tr>
                    <td class="h5 text-info"><%= group.name %></td>                  
                    <td>しおりの数 <%= group.itineraries.length %></td>
                    <td>メンバー数 <%= group.users.length %></td>
                    <td><%= link_to "グループメンバー一覧", group_users_path(group), class: 'btn btn-success text-white' %></td>
                  </tr>
                <% end %>            
              </tbody>
            </table><br>                                
            <i class="fas fa-user-friends fa-3x"></i>
            <%= link_to "グループ作成・加入", new_group_path, class: 'btn btn-warning float-right' %>
          </div>
        </div>
      </div>
    </div> 
  </div><br><br>
<% else %>
  <div class="container">
    <h1 class="bg-warning text-white text-center">まずはグループ作成・加入から始めよう！</h1><br><br><br>
    <h3 class="text-info">”グループ作成・加入”ボタンをクリックしてグループを作成、または家族・友人のグループに加入しましょう。</h3><br><br><br>
    <div class="row"> 
      <div class="col-7">
        <%= link_to "グループ作成・加入", new_group_path, class: 'btn btn-warning btn-lg float-right' %>
      </div>
    </div>
  </div><br>
<% end %>