<div class="container">
  <% if flash[:notice] %>
    <h2 class="flash bg-primary text-white text-center">
      <%= flash[:notice] %>
    </h2>
  <% end %>
</div>
<div class="container">
  <% if @group.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="container">
  <h1 class="bg-warning text-white text-center">グループ作成・加入</h1>
</div><br>
<%= form_for @group do |f| %>
  <div class="container">
    <h2 class="text-info">グループ作成</h2>
    <p class="text-primary">あなたがグループリーダーとなり、グループの作成に必要なID・グループ名を決めてください。</p>
  </div><br>
  <div class="container">
    <h4 class=" text-info">グループ名</h4><br>
    <div class="row">      
      <div class="col-5">
        <div class="form-group">
          <%= f.text_field :name, class: "form-control border-info" %>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <h4 class=" text-info">グループID（８文字以上）</h4><br>
    <div class="row">      
      <div class="col-5">
        <div class="form-group">
          <%= f.text_field :password, class: "form-control border-info" %>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="actions">
          <%= f.submit "作成", class: "btn btn-primary btn-lg text-white float-right" %>
        </div>
      </div>
    </div>
  </div><br><br>
<% end %>
<%= form_tag(join_groups_path, method: :post) do %>
  <div class="container">
    <h2 class="text-info">グループ加入</h2>
    <p class="text-primary">グループリーダーにグループIDを教えてもらい、こちらに入力してください。</p>
  </div><br>
  <div class="container">
    <h4 class=" text-info">グループID（教えてもらったID）</h4><br>
    <div class="row">      
      <div class="col-5"> 
        <div class="form-group">
          <%= text_field_tag :password, "", class: "form-control border-info" %>
        </div>  
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="actions">
          <%= submit_tag "加入", class: "btn btn-primary btn-lg text-white float-right" %>
        </div>
      </div>
    </div>
  </div><br><br>
<% end %>  