<div class="container">
  <h1 class="bg-warning text-white text-center">会員情報の変更</h1>
</div><br> 
<%= form_for(@user, url: user_path, html: { method: :patch }) do |f| %>
  <div class="container">
    <div class="row">      
      <div class="col-5">
        <div class="field">
          <%= f.label :ニックネーム, class: "text-info" %><br />
          <%= f.text_field :nickname, class:"form-control border-info", autofocus: true %>
        </div>
      </div>
    </div>
    <div class="row">      
      <div class="col-5">
        <div class="field">
          <%= f.label :プロフィール画像, class: "text-info" %><br />
          <%= f.file_field :image %>
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="actions">
          <%= f.submit "更新する", class: "btn btn-success btn-lg float-right" %>
        </div>
      </div>
    </div>
  </div><br><br> 
<% end %>