<div class="container">
  <h1 class="bg-warning text-white text-center">会員情報の変更</h1>
</div><br> 
<%= form_for(@user, url: user_path, method: :patch) do |f| %>
  <div class="container">
    <div class="row">      
      <div class="col-5">
        <%= f.label :ニックネーム, class: "h2 text-info" %><br />
        <%= f.text_field :nickname, class:"form-control border-info", autofocus: true %> 
      </div>
    </div><br><br>
    <div class="row">      
      <div class="col-12">
        <%= f.label :プロフィール画像, class: "h2 text-info" %><i class="fas fa-image fa-fw fa-2x"></i><br />           
        <label>
          <h5 class="btn btn-warning">画像を選択</h5>           
          <span style="display:none;">        
            <%= f.file_field :image, id: :user_image %>
          </span>
        </lavel>       
      </div>
    </div>
    <% if @user.image? %>
      <%= image_tag @user.image.url, id: :image_prev, width: :'40%', height: :'40%' %>
    <% else %>
      <img id="image_prev" src="/assets/default.png" width="30%" height="30%" />
    <% end %>
  </div><br><br>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <%= f.submit "更新する", class: "btn btn-primary btn-lg float-right" %>
      </div>
    </div>
  </div><br><br> 
<% end %>