<div class="container">
  <h1 class="bg-warning text-white text-center">記録する</h1>
</div><br>
<%= form_tag(money_management_path(@money_management), method: :patch) do %>
  <div class="container">
    <div class="row">      
      <div class="col-4">
        <h2 class="text-info"><%= @money_management.name %></h2>
      </div>
      <div class="col-6">
        <div class="form-group float-right">
          <lavel class="h3 text-primary">残金</lavel>
          <%= number_field_tag "budget", "#{@money_management.budget}", min: 0, class: "form-control form-control-lg border-primary" %>
        </div>
      </div>
      <div class="row">  
        <div class="col d-flex align-items-end">
          <h4 class="text-primary"><%= @money_management.currency %></h4>
        </div>
      </div> 
    </div>
  </div><br>
  <div class="container">
    <% if @records.present? %>
      <% @records.each_with_index do |record, i| %>
        <div class="card border-info">
          <div class="card-body">
            <%= hidden_field_tag "record_id_#{i}", record.id %>
            <div class="row">
              <div class="col-4">
                <lavel class="text-info">カテゴリー</lavel>
                <%= select_tag "category_#{i}", options_for_select([['交通費', 1], ['食費', 2], ['ホテル・宿', 3], ['お土産', 4], ['観光名所・施設', 5], ['その他', 6]], selected: "#{record.category}"), class: "form-control border-info" %>
              </div>
              <div class="col-8">
                <%= link_to "削除", money_management_path(@money_management), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-success float-right" %>
              </div>
            </div>
            <div class="row">      
              <div class="col-7">
                <div class="form-group">
                  <lavel class="text-info">名称（路線名・飲食店名・ホテル名など）</lavel>
                  <%= text_field_tag "content_#{i}", "#{record.content}", class: "form-control border-info" %>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group float-right">
                  <lavel class="text-info">金額</lavel>
                  <%= number_field_tag "cost_#{i}", "#{record.cost}", min: 0, class: "form-control border-info" %>
                </div>
              </div>
              <div class="row"> 
                <div class="col d-flex align-items-end">
                  <h5 class="text-info"><%= @money_management.currency %></h5>
                </div>
              </div>
            </div>
          </div>
        </div><br>
      <% end %>
      <div class="card border-info">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <lavel class="text-info">カテゴリー</lavel>
              <%= select_tag "category", options_for_select([['交通費', '1'], ['食費', '2'], ['ホテル・宿', '3'], ['お土産', '4'], ['観光名所・施設', '5'], ['その他', '6']]), include_blank: "選択してください", class: "form-control border-info" %>
            </div>
            <div class="col-8">
              <%= link_to "削除", money_management_path(@money_management), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-success float-right" %>
            </div>
          </div>
          <div class="row">      
            <div class="col-7">
              <div class="form-group">
                <lavel class="text-info">名称（路線名・飲食店名・ホテル名など）</lavel>
                <%= text_field_tag "content", "", class: "form-control border-info" %>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group float-right">
                <lavel class="text-info">金額</lavel>
                <%= number_field_tag "cost", Integer, min: 0, class: "form-control border-info" %>
              </div>
            </div>
            <div class="row"> 
              <div class="col d-flex align-items-end">
                <h5 class="text-info"><%= @money_management.currency %></h5>
              </div>
            </div>
          </div>
        </div>
      </div><br>
    <% else %> 
      <div class="card border-info">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <lavel class="text-info">カテゴリー</lavel>
              <%= select_tag "category", options_for_select([['交通費', '1'], ['食費', '2'], ['ホテル・宿', '3'], ['お土産', '4'], ['観光名所・施設', '5'], ['その他', '6']]), include_blank: "選択してください", class: "form-control border-info" %>
            </div>
            <div class="col-8">
              <%= link_to "削除", money_management_path(@money_management), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-success float-right" %>
            </div>
          </div>
          <div class="row">      
            <div class="col-7">
              <div class="form-group">
                <lavel class="text-info">名称（路線名・飲食店名・ホテル名など）</lavel>
                <%= text_field_tag "content", "", class: "form-control border-info" %>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group float-right">
                <lavel class="text-info">金額</lavel>
                <%= number_field_tag "cost", Integer, min: 0, class: "form-control border-info" %>
              </div>
            </div>
            <div class="row"> 
              <div class="col d-flex align-items-end">
                <h5 class="text-info"><%= @money_management.currency %></h5>
              </div>
            </div>
          </div>
        </div>
      </div><br>
    <% end %>
  </div><br>
  <div class="container">
    <div class="row">
      <div class="col-12">
      　<a class="btn btn-success float-right" href="#" role="button">内容の追加</a>
      </div>
    </div>
  </div><br>
  <br><br>
  <div class="container">
    <div class="row">      
      <div class="col-8">
        <%= submit_tag "内容を保存する", class: "btn btn-lg btn-success float-right" %>      
      </div>
    </div>
  </div><br><br>
<% end %>