<div class="container">
  <% if flash[:notice] %>
    <h2 class="flash bg-primary text-white text-center">
      <%= flash[:notice] %>
    </h2>
  <% end %>
</div>
<div class="container">
  <h1 class="bg-warning text-white text-center"><%= @money_management.name %></h1>
</div><br>
<div class="container">
  <% if @money_management.budget - @records.sum(:cost) >= 0 %>
    <h2 class="text-primary">残金 <%= @money_management.budget - @records.sum(:cost) %><%= @money_management.currency %></h2>
  <% else %>
    <h3 class="text-danger"><%= (@money_management.budget - @records.sum(:cost)).abs %><%= @money_management.currency %>足りません！</h3>
  <% end %> 
</div><br>
<div class="container">
  <% if @records.present? %>
    <%= pie_chart @records.group(:category).sum(:cost), suffix: @money_management.currency %>
  <% else %>
    <h2 class="text-danger">記録がありません。”記録する”ボタンをクリックして記録しましょう。</h2>
  <% end %>
</div><br>
<div class="container">
  <div class="row">      
    <div class="col-12">
      <%= link_to "記録する", edit_money_management_path(@money_management), class: "btn btn-lg btn-info float-right" %>      
    </div>
  </div>
</div><br>
<% @records.each do |record| %>
  <div class="container">
    <div class="row">      
      <div class="col-12">
        <div class="card border-info">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <h3><%= record.category %></h3>
              </div>
              <div class="col-6">
                <h3><%= record.content %></h3>
              </div>
              <div class="col-3">
                <h3><%= record.cost %><%= @money_management.currency %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>
<% end %>
<br> 